@charset "utf-8";

/*관리자 목록*/
.search-area{width:100%;}
.search-area input[type="checkbox"]{vertical-align: middle;margin-top: -4px;}
.tb-result{font-size:16px;}

.btn-area{width:100%;}
.btn-area button{display: inline-block; vertical-align: middle;}

/*서치테이블*/
.tb-search .col1{width:8%;}
.tb-search .col2{width:auto;}

/*테이블 제목 세로*/
.tb-type2 table th{width:10%;text-align:left;padding-left: 20px;padding-right: 20px;}
.tb-type2 table td{width:40%;text-align:left;padding-left: 20px;line-height: 20px;}

/*공지사항*/
.tb-default.list tbody tr:hover{background:#efefef;}
.tb-default.list tbody tr:visited{background:#efefef;}
.tb-default.list tbody tr:active{background:#efefef;}
.tb-default.board .col1{width:6%;}
.tb-default.board .col2{width:64%;}
.tb-default.board .col10{width:10%;}
.tb-default.board .col15{width:15%;}
.tb-default.list .subject a{max-width: 800px;text-overflow:ellipsis;white-space:nowrap;text-align: center;overflow:hidden; color:#3a3a3a; display: block;margin: 0px auto;}
.tb-default.list .subject a:link, .tb-default.board.list .subject a:hover, .tb-default.board.list .subject a:visited,
.tb-default.list .subject a:active, .tb-default.board.list .subject a:focus{color:#3a3a3a;}
.tb-default.list .subject a:hover{text-decoration: underline;}
.board-txtarea{resize:none;width:100%;padding:20px;font-size:14px;font-weight:300;border: 0;}

/*레이어팝업*/
.layer-pop{display: none;position:absolute;top:50%;left:50%;transform: translateY(-50%);z-index: 100;}
.layer-pop.pop-wd1200{top:50%;left:50%;margin-left: -600px;height: 685px;overflow-y: auto;}
.layer-pop table td{width:auto;}
.layer-pop.col_2 table .col1{width:40%;}
.layer-pop .alert-line{line-height:20px;}

.layer-pop.pop2 {padding: 0;}
.layer-pop.pop2 .pop-hd{
    height: 50px;
    background: #252d3a;
    border-radius: 10px 10px 0 0;
    position:relative;
}
.layer-pop.pop2 .pop-hd p{
    color: #fff;
    line-height: 50px;
    text-align: left;
    padding-left: 20px;
    font-size: 17px;
}
.layer-pop.pop2 .pop-hd button.close{position:absolute; top:14px; right:20px; width:22px; height:22px; background:url(../images/ico_pop_close.png) no-repeat left top;}
.layer-pop.pop2 .pop-con{
    padding: 16px;
}
.layer-pop.pop2 .pop-con ul li a{
    color: #3a3a3a;
    padding: 11px 0;
    display: block;
    font-size: 17px;
    padding-left: 33px;
}
.layer-pop.pop2 .pop-con > ul > li > a{
    position:relative;
}
.layer-pop.pop2 .pop-con > ul > li > a:before{
    position:absolute;
    content: "";
    top: 16px;
    left: 5px;
    width:12px;
    height:12px;
    border:1px solid #cacaca;
}
.layer-pop.pop2 .pop-con > ul > li > a:after{
    position:absolute;
    content: "";
    top: 40px;
    left: 5px;
    width:100%;
    height:1px;
    background: #e6e6e6;
}
.layer-pop.pop2 .pop-con .pop-list-sub{
    padding-top: 13px;
}
.layer-pop.pop2 .pop-con .pop-list-sub > li > a{
    font-size: 16px;
    padding: 6px 0;
    padding-left: 50px;
    position:relative;
}
.layer-pop.pop2 .pop-con .pop-list-sub > li > a:hover{
    background: #fffcda;
}

.layer-pop.pop2 .pop-con .pop-list-sub > li > a:after{
    position:absolute;
    content: "";
    top: 10px;
    left: 30px;
    width: 10px;
    height: 10px;
    border:1px solid #cacaca;
    border-radius: 10px;
}

/*그룹*/
.box-tit{background-color:#edf1f4; border:1px solid #d6d6d6; text-align: center;}
.box-area.lt-box{width:40%; float:left;}
.box-area.rt-box{width:55%; float:right;}
.box-contents{border:1px solid #d6d6d6; height:280px; overflow-y:auto; margin-top:-1px; padding: 20px;}
.box-contents.box-con2{height: 330px;}

.txt-label{padding:10px 25px; border:1px solid #d6d6d6; margin-top:10px; background:#e8e8e8;}
.group-form-box input{width: calc(100% - 220px);float: left;}
.group-form-box > div{float: right;}

/*사용자목록*/
.box-area.one{width:50%; margin:0px auto;}

/*사용자등록*/
.box-area.two{width:48%; margin:0px auto;}

/*사용자 상세정보*/
.group-list li{margin:4px 0;}

/*테이블 첫번째 col만 사이즈다름*/
.tb16 .col1{width:50%;}
.tb16 .col2{width:10%;}
.col30{width:30% !important;}
.col40{width:40% !important;}
.col4{width:4% !important;}

.date-show{margin-bottom:20px; font-size:16px;}

.sand-btn{width:100%; display: block; cursor: pointer;}


/* -------------------------------------- 사용자------------------------------------------------*/

/*야생동물정보관리*/
.tb-type2.register table tr th{width: 5%;text-align: center;padding-left: 10px;padding-right: 10px;}
.tb-type2.register .col10{width:10%;}
.tb-type2.register table tr td{width:auto;padding-left: 10px;padding-right: 10px;}

.tb-type2.col-tab table tr th{width: 10%;text-align: center;padding-left: 10px;padding-right: 10px;}
.tb-type2.col-tab table tr td{width:auto;padding-left: 10px;padding-right: 10px;}

.tab-tb-tit{font-size:18px;margin-bottom:20px;position:relative;padding-left: 34px;font-weight: 500;}
.tab-tb-tit:after{position:absolute;content: "";top: 5px;left: 20px;width: 5px;height:10px;background: #3f7eab;}

.photo-box{text-align: center;}
.col-file{display: inline-block;}
.col-img-link{color:inherit; text-decoration: underline;}


/*통계*/
.statis-wr{}
.sta1{width:40%;float:left;height: 100%; margin-right:1%;}
.sta2{width:59%;float:right;height: 100%;}
.chart-area{width:100%;height: 100%; overflow-x: auto;}

.sensor input[type="text"]{width: calc(100% - 166px) !important;}